@import "tailwindcss";

@theme {
  /* Cores */
  /* Neutras */
  --color-black: #14102F;
  --color-d-brey: #4D4D4D;
  --color-grey: #616161;
  --color-l-grey: #88939E;
  --color-grey-blue: #ABBED1;
  --color-silver: #F5F7FA;
  --color-white: #FFFFFF;

  /* Primárias */
  --color-primary: #F95894;
  --color-secondary: #263238;
  
  /* Informação */
  --color-info: #2194F3;
  
  /* Ação/Status */
  --color-warning: #FBC02D;
  --color-error: #E53835;
  --color-success: #2E7D31;
  
  /* Color Tints */
  --color-tint-1: #66BB69;
  --color-tint-2: #81C784;
  --color-tint-3: #A5D6A7;
  --color-tint-4: #C8E6C9;
  --color-tint-5: #E8F5E9;

  /* Color Shades */
  --color-shade-1: #FF94BC;
  --color-shade-2: #FF74A8;
  --color-shade-3: #FF3580;
  --color-shade-4: #FF0F68;
  --color-shade-5: #14102F;

  /* Tipografia - Headlines */
  --font-size-headline-1: 4rem;     
  --line-height-headline-1: 4.75rem;
  
  --font-size-headline-2: 2.25rem;  
  --line-height-headline-2: 2.75rem;
  
  --font-size-headline-3: 1.75rem;  
  --line-height-headline-3: 2.25rem;
  
  --font-size-headline-4: 1.25rem;  
  --line-height-headline-4: 1.75rem;

  /* Font Weight */
  --font-weight-semibold: 600;
}

.headline-1 {
  font-size: var(--font-size-headline-1);
  line-height: var(--line-height-headline-1);
  font-weight: var(--font-weight-semibold);
}

.headline-2 {
  font-size: var(--font-size-headline-2);
  line-height: var(--line-height-headline-2);
  font-weight: var(--font-weight-semibold);
}

.headline-3 {
  font-size: var(--font-size-headline-3);
  line-height: var(--line-height-headline-3);
  font-weight: var(--font-weight-semibold);
}

.headline-4 {
  font-size: var(--font-size-headline-4);
  line-height: var(--line-height-headline-4);
  font-weight: var(--font-weight-semibold);
}